* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: 4rem auto fit-content(3rem);
    grid-template-areas: "header"
                        "main"
                        "footer";
    /* height: 100%; */
    
    /* If this value is not set then there will be a small whitespace along all the direction 
     * That will be the default margin: 8px  
     */
    /* margin: 1px;  */
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.main-header {
    grid-area: header;
    /* background: #be3144; */
    background-color: #eb4511;
    background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.3rem;
    background: rgb(223, 223, 236);
    display: block;
    margin: 0.6rem 0;
}

main {
    grid-area: main;
    background-color: #303841;
    /* border-bottom: 0.25rem solid #be3144; */
}

/* .main-header__brand {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
} */

.main-header__brand img {
    height: 3rem;
    vertical-align: middle;
    margin: 1rem;
}

.main-footer {
    grid-area: footer;
    /* background: dimgrey; */
    background-color: rgb(54, 53, 53);
    
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main-nav {
    display: none;
}

.main-nav__items {
    list-style: none;
    display: flex;
}

.main-nav__items a:hover {
    background-color: khaki;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}
  
.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.mobile-nav__item {
    margin: 2rem 0;
}
  
.mobile-nav__item a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.app-menu {
    display: none;
}

.main-footer a {
    margin: 0.3rem 0;
}

.main-nav__items a {
    text-decoration: none;
    color: ivory;
    font-weight: bold;
    
}

a:hover {
    color: blueviolet;
    text-decoration: underline;
    transform: scale(1.05);
}

.menu_link {
    padding: 2rem;
    font-size: 1.5rem;
}

.menu_link:hover {
    text-decoration: none;
}

.app-menu a:hover {
    background-color: khaki;
}

.open {
    display: block !important;
}
@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }

    .app-menu {
        display: flex;
        justify-content: space-around;
        width: 25%;
        /* margin-right: 1rem; */
    }

    .main-nav {
        display: flex;
    }

    .main-footer {
        flex-direction: row;
    }

    .main-footer a {
        margin: 0 0.5rem;
        
    }
}
